<div class="side-panel">
    <form class="navbar-form " action="">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div id="leftpanel" class="accordion-container">
        <div class="category-title">Product Categories<i class="fas fa-bars pull-right"></i></div>
        <div class="set">
            <a>
                Entrance Control
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Time and Attendance</a>
                <a href="">• Access Reader</a>
                <a href="">• Door Locks</a>
            </div>
        </div>
        <div class="set">
            <a>
                Visual Surveillance
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Cameras</a>
                <a href="">• Monitors</a>
                <a href="">• Accessories</a>
                <a href="">• Reader</a>
            </div>
        </div>
        <div class="set">
            <a>
                Automatic Gate
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Swing Gate</a>
                <a href="">• Sliding Gate</a>
                <a href="">• Road Barriers</a>
                <a href="">• Accessories</a>
            </div>
        </div>
        <div class="set">
            <a>
                Fire Alarm System
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Intelligence System</a>
                <a href="">• Convenional System</a>
                <a href="">• Fire Telephone System</a>
            </div>
        </div>
        <div class="set">
            <a>
                Intrusion Detection
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Magnetic Contacts</a>
                <a href="">• Motion Detectors</a>
                <a href="">• Control Panel</a>
                <a href="">• Photobeam Sensor</a>
                <a href="">• Sounder Strobe</a>
            </div>
        </div>
        <div class="set">
            <a>
                Electric Fence
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Energizer</a>
                <a href="">• Fence</a>
                <a href="">• Accessories</a>
            </div>
        </div>
        <div class="set">
            <a>
                Turnstile
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Full Height</a>
                <a href="">• Waist Height</a>
                <a href="">• Accessories</a>
                <a href="">• Flip Lap</a>
            </div>
        </div>
        <div class="set">
            <a>
                Metal Detector
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Hand Held Detector</a>
                <a href="">• Walkthrough Detector</a>
                <a href="">• Xray Scanner</a>
            </div>
        </div>
        <div class="set">
            <a>
                Open Cabling System
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Cabling System</a>
                <a href="">• Fiber Optic</a>
                <a href="">• Network Lan Cable</a>
            </div>
        </div>
        <div class="set">
            <a>
                Office Automation
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Sliding Doors</a>
                <a href="">• Swing Doors</a>
                <a href="">• Garrage Doors</a>
            </div>
        </div>
        <div class="set">
            <a>
                Nurse Call
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Wireless Calling System</a>
            </div>
        </div>
        <div class="set">
            <a>
                Audio Surveillance
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <a href="">• Audio System</a>
            </div>
        </div>
        <div class="set">
            <a>
                Ip Peripheral
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
        <div class="set">
            <a>
                Home Automation
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
        <div class="set">
            <a>
                Audio System
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
        <div class="set">
            <a>
                Queue System
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
        <div class="set">
            <a>
                Ip Phone
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
        <div class="set">
            <a>
                Wireless Antenna
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">

            </div>
        </div>
    </div>

    <img src="~/Images/ads_1.jpg" class="img-responsive center-block" />
</div>