@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Installation";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/About">About</a></li>
            <li class="active"><a href="~/About/Installation">Installation</a></li>
        </ul>
    </div>
</div>

<div class="installation-section">
    <div class="container">
        <h1>Installation</h1>
        <p>Our well-chosen team of professionals, intelligent, dedicated and dynamic staffs are our most valuable asset that would meet the high expectations of our clients, We conduct trainings and quality assurance to ensure that we are the finest in the industry.</p>
    </div>
    <div class="installation-photos">
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_31.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_32.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_1.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_2.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_3.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_4.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_5.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_6.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_7.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_8.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_9.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_10.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_11.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_12.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_13.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_14.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_15.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_16.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_17.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_18.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_19.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_20.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_21.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_22.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_23.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_24.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_25.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_26.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_27.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_28.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_29.jpg" />
        </div>
        <div class="tile scale-anm">
            <img src="~/Images/installation/asi_installation_30.jpg" />
        </div>
    </div>
</div>