@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Product Lines";
}
<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/About">About</a></li>
            <li class="active"><a href="~/About/ProductLines">Product Lines</a></li>
        </ul>
    </div>
</div>

<div class="product-lines">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>

            <div class="col-md-9">
                <div class="branches">
                    <ul class="list-inline">
                        <li><a href="~/About">Company Profile</a></li>
                        <li class="active"><a href="~/About/ProductLines">Product Line</a></li>
                        <li><a href="~/Career">Career</a></li>
                        <li><a href="~/About/SoftwareIntegration">Software Integration</a></li>
                    </ul>
                </div>

                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/access_control.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/entrance_control_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">1. Entance Control</div>
                            <p class="prod-description">Access control systems, you can prevent access by unauthorized visitors.</p>
                        </div>
                    </div>
                </div>

                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/surveillance.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/cctv_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">2. Visual Surveillance</div>
                            <p class="prod-description">CCTV cameras provide visual surveillance with small set of monitors. Many stores use CCTV as a theft prevention deterrent. CCTV is used on various places for security purpose.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/gate_automation.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/gate_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">3. Gate Automation</div>
                            <p class="prod-description">A mechanical automatic device helps to open and close gate automatically. Auto gates are used in apartments, industries etc.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/fire_alarm.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/fire alarm_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">4. Fire Alarm System</div>
                            <p class="prod-description">Fire alarm detector is designed to sense fire, smoke, and excessive heat, to quickly alert the workers and residents to escape the point.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/intrusion_alarm.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/intrusion_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">5. Intrusion Alarm System</div>
                            <p class="prod-description">It is for industrial, commercial, residential and military purpose to avoid theft and other property damages.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/electric_fence.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/fence_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">6. Electric Fence</div>
                            <p class="prod-description">Fence carrying electrical pulses across its end are used to prevent unauthorized entries</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="~/Images/Product_lines/turnstile.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/fence_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">7. Turnstile </div>
                            <p class="prod-description">An Access control system which monitors the flow of pedestrian and prevents unauthorized persons.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/metal_detector.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/metal detector_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">8. Metal Detector </div>
                            <p class="prod-description">A portable electronic instrument which detects the presence of metal nearby.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/open_Cabling.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/cable_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">9. Open Cabling System </div>
                            <p class="prod-description">A structured cabling system (SCS) is a set of cabling and connectivity products.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/audio_surveillance.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/audio_surveillance.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">10. Audio Surveillance </div>
                            <p class="prod-description">IP/Public Address System for wide range audio perfect for malls and offices.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/ip_peripheral.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/ip_peripheral_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">11. IP Peripheral  </div>
                            <p class="prod-description">IP Switches | Connectors | Cables</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/home_automation.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/home-automation_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">12. Home Automation</div>
                            <p class="prod-description">Automation of the home, housework or household activity.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/audio_system.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/audio_vector.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">13. Audio System</div>
                            <p class="prod-description">a system of electronic equipment for recording or reproducing sound.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/nurse_Call.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/nurse call_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">14. Nurse Call System</div>        
                            <p class="prod-description">A device that alerts staff at the nurse's station, and usually, a nurse responds to such a call.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/EAS.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/eas_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">15. Electronic Article Surveillance</div>
                            <p class="prod-description">A technological method for preventing shoplifting from retail stores or removal of properties from office buildings.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/Queue.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/queue_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">16. Queue System</div>
                            <p class="prod-description">Is used to control queues. Queues of people form in various situations and locations in a queue area.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/IP_phone.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/IpPhone_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">17. Ip Phone</div>
                            <p class="prod-description">A phone that use IP connection instead of the traditional public switched telephone network.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/office_automation.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/office_automation_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">18. Office Automation</div>
                            <p class="prod-description">Automated Office with the use of mechanical devices or control to operate.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/wireless antenna.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/wireless antenna_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">19. Wireless Antenna</div>
                            <p class="prod-description">High end wireless connection device for transmition of data.</p>
                        </div>
                    </div>
                </div>
                <div class="prod-line col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                    <a href=""></a>
                    <img src="~/Images/Product_lines/parking_revenue.jpg" class="img-responsive center-block">
                    <div class="background icon-category"><span><img src="~/Images/icons/parking revenue_icon.png"></span></div>
                    <div id="prod_line_info">
                        <div class="caption">
                            <div class="prod-category">20. Parking Revenue System</div>
                            <p class="prod-description">Parking Revenue System complete with software and ticketing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
