@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Software Integration";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/About">About</a></li>
            <li class="active"><a href="~/About/SoftwareIntegration">Software Integration</a></li>
        </ul>
    </div>
</div>

<div class="software-integration">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <div class="branches">
                    <ul class="list-inline">
                        <li><a href="~/About">Company Profile</a></li>
                        <li><a href="~/About/ProductLines">Product Line</a></li>
                        <li><a href="~/Career">Career</a></li>
                        <li class="active"><a href="~/About/SoftwareIntegration">Software Integration</a></li>
                    </ul>
                </div>

                <img src="~/Images/softwarehard.jpg" class="img-responsive img-space">
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="smarter-color">Lobby Management System: BISITA</h1>
                                <p>Is an application for processing visitors, including ID scanning, record creation, badge printing, watch list screening, check-in and check-out, and email notification, among other features. Complete with software and hardware.</p>

                                <h2>Key Benefits:</h2>
                                <ul>
                                    <li>Enhances the professionalism of an organization by streamlining the visitor check-in process and providing high quality badges for all visitors.</li>
                                    <li>Improves security by enabling organizations to identify exactly who is in their facilities and the reason why. Allows users to create watch lists and screen against unwanted visitors.</li>
                                    <li>Captures detailed visitor information more accurately and distinguishes between different categories of visitors.</li>
                                    <li>Performs analysis/reporting on visitor data across multiple locations.</li>
                                    <li>Affordable, easy to use and simple to install.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="smarter-color">Payroll System: Smarter Software</h1>
                                <p>Is an application for processing payrolls, attendance and schedule, complete with software and hardware. Our system is automated by our biometric readers.</p>

                                <h2>Key Benefits:</h2>
                                <ul>
                                    <li>Easy calculations. Efficiency in payroll calculation is important in every company. </li>
                                    <li>To avoid the hassles of calculating payroll manually, you can use software to automate the process. </li>
                                    <li>Forecasting. When you have payroll software, it allows you to see and monitor all payroll expenses instantly. </li>
                                    <li>Tax management.  Computations for tax might be a headache. Using a payroll system will minimize the employee's reporting obligations. </li>
                                    <li>No more paper works! No more Time cards! Easy and secured Attendance/Payroll system.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="smarter-color">Canteen Management System: Smarter Software</h1>
                                <p>CMS design provides a user friendly system that facilitates quick and efficient operations to cover larger section of employees within a specified time. This system is also compatible in an environment where multiple Caterers operate in a closed environment or at multiple locations.</p>

                                <h2>Key Benefits:</h2>
                                <ul>
                                    <li>Ease in selection from menu by Caterers.</li>
                                    <li>Supports both Prepaid and post paid methods of accounting.</li>
                                    <li>Daily limit on the amount for the usage of canteen facility can be preset.</li>
                                    <li>Manual entry of transactions is feasible.</li>
                                    <li>CMS can be implemented in an organization where the employees have cards (any type of identification cards) for unique identification.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="http://smarter.com.ph/" target="_blank" class="smtr-btn">Visit Website</a>
            </div>
        </div>
    </div>
</div>
