@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Hikvision";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Brand">Brand</a></li>
            <li class="active"><a href="~/Brand/Hikvision">Hikvision</a></li>
        </ul>
    </div>
</div>

<div class="product-lines">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <img src="~/Images/brand/hikvision/hik_cover.jpg" alt="hikvision cctv" class="img-responsive center-block" />
                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/hikvision/hik_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title hik-color">Cameras</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/hikvision/hik_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title hik-color">Monitor</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/hikvision/hik_4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title hik-color">Accessories</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/hikvision/hik_5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title hik-color">Recorder</h5>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="hik-color">Hikvision</h1>
                                <p>
                                    Hikvision is the world’s largest supplier of video surveillance products and solutions. The company specializes in video surveillance technology,
                                    as well as designing and manufacturing a full-line of innovative CCTV and video surveillance products. The product line ranges from cameras and
                                    DVRs to video management software.
                                </p>
                                <p>
                                    Since its inception in 2001, Hikvision has quickly achieved a leading worldwide market position in the security industry. Hikvision possess the
                                    world’s largest R&D team and state-of-art manufacturing facilities; both allow Hikvision’s customers the benefit of world-class products that are designed with cutting-edge technology.
                                </p>
                                <p>
                                    As further commitment to its customers, Hikvision annually reinvests 7% of its revenue into R&D for continued product innovation and improvement.
                                    Hikvision operates 31 domestic branches in China and 12 overseas regional branch offices, in conjunction with over 30,000 partners all over the
                                    world to achieve a truly global presence. Hikvision is now publicly listed on the Shenzhen Stock Exchange. Please visit our website for more
                                    information.
                                </p>
                            </div>
                        </div>

                        <img src="~/Images/brand/hikvision/hik_6.jpg" alt="ip camera" class="img-responsive center-block img-space">

                        <div class="row text-center">
                            <div class="col-md-4">
                                <h4>1080P Cameras</h4>
                                <p>Hikvision is proud to introduce HD-SDI technology to allow uncompressed and non-packetized Full HD 1080P video over analog cabling with no lag time.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>Worlds Largest CCTV Supplier</h4>
                                <p>Hikvision has quickly achieved a leading worldwide market position in the security industry.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>Citywide Surveillance</h4>
                                <p>Effective and proactive city-wide surveillance is proven to dramatically reduce crime, improve public safety, and heighten trust between law enforcement and the community.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
