@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Brand";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li class="active"><a href="~/Brand">Brand</a></li>
        </ul>
    </div>
</div>

<div class="brand-list">
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="panel">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <div class="card-deck">
                    <a class="card" href="~/Brand/Hikvision" target="_blank">
                        <img class="card-img" src="~/Images/brand/hik_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Hikvision</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/ZKTeco" target="_blank">
                        <img class="card-img" src="~/Images/brand/zk_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>ZKTeco</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/Ubiquiti" target="_blank">
                        <img class="card-img" src="~/Images/brand/ubnt_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Ubiquiti</b></h2>
                        </div>
                    </a>
                </div>

                <div class="card-deck">
                    <a class="card" href="~/Brand" target="_blank">
                        <img class="card-img" src="~/Images/brand/hiti_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Hiti</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand" target="_blank">
                        <img class="card-img" src="~/Images/brand/korenix_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Korenix</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/Garrett" target="_blank">
                        <img class="card-img" src="~/Images/brand/garrett_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Garrett</b></h2>
                        </div>
                    </a>
                </div>

                <div class="card-deck">
                    <a class="card" href="~/Brand/Beninca" target="_blank">
                        <img class="card-img" src="~/Images/brand/beninca_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Beninca</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/Numens" target="_blank">
                        <img class="card-img" src="~/Images/brand/numens_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>Numens</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/Lanstar" target="_blank">
                        <img class="card-img" src="~/Images/brand/lanstar_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <div class="card-img-overlay">
                                <h2 class="card-title"><b>Lanstar</b></h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-deck">
                    <a class="card" href="~/Brand/" target="_blank">
                        <img class="card-img" src="~/Images/brand/cmx_brand.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h2 class="card-title"><b>CMX</b></h2>
                        </div>
                    </a>
                    <a class="card" href="~/Brand/" target="_blank">
                        <div class="card-img-overlay">
                        </div>
                    </a>
                    <a class="card" href="~/Brand/" target="_blank">
                        <div class="card-img-overlay">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

