@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lanstar";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Brand">Brand</a></li>
            <li class="active"><a href="~/Brand/Lanstar">Lanstar</a></li>
        </ul>
    </div>
</div>

<div class="product-lines">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <img src="~/Images/brand/EFence/lanstar_cover.jpg" alt="electric fence" class="img-responsive center-block">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <h1 class="lanstar-color">Lanstar</h1>
                                <p>
                                    Shenzhen Lanstar Technology Co.,Ltd is a leading manufacturer and supplier of perimeter security electric fence and agricultural
                                    solar fencing in china with excellent technology and products.
                                </p>
                                <p>
                                    Dedicating to provide stable products, solution and professional services, lanstar has offered perimeter security service to
                                    thousands of companies and government in more than 20 provinces at domestic market. Besides, our products are distributed to more than
                                    40 countries worldwide. We are a reliable electric fence supplier at home and broad.
                                </p>
                                <p>
                                    To meet different customer's need, we design perimeter solution according to practical situation. So far, these solutions are widely
                                    used in community, residential area, government, school, plants, garage, prison, military bases, water and gas distributor, farmland
                                    and poultry area.
                                </p>
                                <p>
                                    If you are searching for perimeter security products, we are a great option.And we are confident that we will be a international
                                    electric fence base in the future.
                                </p>
                            </div>

                            <div class="row">
                                <h3>ELECTRIC FENCE BENEFITS:</h3>
                                <h4>Low cost</h4>
                                <p>
                                    An electric fence can perform the same task as a conventional fence using much less material. Depending on the length of the
                                    fence where the cost of the energiser may be spread over, this type of fencing generally proves to be cheaper than standard stock fencing.
                                </p>
                                <h4>Easy to build</h4>
                                <p>
                                    Lower wire tension and generally lighter construction make much quicker and easier construction, especially in difficult terrain. No
                                    special ability is required making it suitable for DIY. No speciallist knowledge is required and an electrician is not necessary. As
                                    long as a few simple rules are followed an effective fence may be erected by the householder.
                                </p>
                                <h4>Durability</h4>
                                <p>
                                    Electric fences are not subjected to the same physical pressure from animals, and can therefore be expected to have a greatly extended
                                    service life. The life of old stock fences can be considerably extended using an electric fencing outrigger.
                                </p>
                                <h4>Universal application</h4>
                                <p>
                                    Experience world wide has shown that electric fencing will contain all types of animals. This includes Elephants, bears, walrus, hippo
                                    and even snails. Educated stock develop greater respect for electric fencing than for any other type of fence.
                                </p>
                                <h4>Flexibility</h4>
                                <p>
                                    There is no quicker or easier way to effectively subdivide a paddock for controlled grazing than with an electric fence. Fences are
                                    frequently moved on a daily or even hourly basis with high density grazing or on dairy farms.
                                </p>
                                <h4>Low maintenance</h4>
                                <p>
                                    Once your fence is properly installed and your stock are trained, the maintenance requirements of electric fencing are little different
                                    from conventional fences. A daily check on the voltage will highlight any problems with a periodic inspection of vegetation approaching
                                    the fence lines.
                                </p>
                                <h4>Less stock damage</h4>
                                <p>
                                    The electric shock from your electric fence causes no physical damage to hides and pelts. If your stock is forced through the fence by
                                    veldfires or dogs, they are at less risk than with a conventional barbed wire stock fence tearing the hide to shreds incurring vet bills
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/EFence/lanstar_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title lanstar-color">Electric fence energizer</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/EFence/lanstar_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title lanstar-color">Prison/border high voltage fence</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/EFence/lanstar_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title lanstar-color">Farm fence energizer</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/EFence/lanstar_4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title lanstar-color">Farm fence Accessories</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/EFence/lanstar_5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title lanstar-color">Security fence Accessories</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">     
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
