@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Numens";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Brand">Brand</a></li>
            <li class="active"><a href="~/Brand/Numens">Numens</a></li>
        </ul>
    </div>
</div>

<div class="product-lines">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <img src="~/Images/brand/Numens/numens_cover.jpg" alt="numens"  class="img-responsive center-block">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="numens-color">Numens</h1>
                                <p>
                                    Formed in 2010, Numens is an emerging supplier of professional safety products for fire detection and alarm systems. Numens
                                    supplies an extensive range of addressable, non-addressable and residential products for life safety and property
                                    protection applications. Offering over 300 products and supplying to more than 500 customers around the globe, we are
                                    committed to establishing long-term relationships with our customers and suppliers.
                                </p>
                                <p>
                                    In a fire emergency, a few seconds could save lives. All businesses should be aware of their fire risks and take appropriate steps to
                                    prevent fires, but also take steps to properly alert personnel if a fire event occurs.
                                </p>
                                <p>
                                    Facility owners and managers should evaluate their need for fire alarm systems. These are important devices to keep personnel and property safe.
                                </p>
                                <p>
                                    A fire detection system is designed to sense smoke, excessive heat or fire and provide an alert for a particular area of the building.
                                    The type of fire alarm system needed depends on the age of the building and the layout of the structure
                                </p>
                            </div>
                        </div>

                        <img src="~/Images/brand/Numens/numens_1.jpg" alt="numens"  class="img-responsive center-block img-space">

                        <div class="row text-center">
                            <div class="col-md-4">
                                <h4>Fire Alarm</h4>
                                <p>
                                Fire alarm detector is designed to sense fire, smoke, and excessive heat, to quickly alert the workers and residents to escape the point.
                                Early detection also plays a significant role in protecting the safety of emergency response personnel.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h4>Easy Installation</h4>
                                <p>We provide high quality FIRE ALARM that give you practical solutions for your security checkpoint installations.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>For Security</h4>
                                <p>
                                    A fire detection system is designed to sense smoke, excessive heat or fire and provide an alert for a particular area of the building. The type of fire alarm
                                    system needed depends on the age of the building and the layout of the structure.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="~/Images/brand/Numens/numens_2.jpg" class="img-responsive">

                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Numens/numens_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title numens-color">Addressable</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Numens/numens_4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title numens-color">Non-Addressable</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Numens/numens_5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title numens-color">Residential</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>