@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Ubiquiti";
}

<div class="head-link">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Brand">Brand</a></li>
            <li class="active"><a href="~/Brand/Ubiquiti">Ubiquiti</a></li>
        </ul>
    </div>
</div>

<div class="product-lines">
    <div class="container">
        <div class="row">
            <div id="panel" class="col-md-3">
                @Html.Partial("_SidePanel")
            </div>
            <div class="col-md-9">
                <img src="~/Images/brand/Ubiquiti/ubnt_cover.jpg" alt="ubiquity" class="img-responsive center-block" />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <h1 class="ubnt-color">Ubiquiti</h1>
                                <p>
                                    Ubiquiti Networks is an American technology company started in 2005.
                                    Based in New York, NY, Ubiquiti manufactures wireless data communication
                                    products for enterprise and wireless broadband providers with a primary
                                    focus on under-served and emerging markets.
                                </p>
                            </div>

                            <div class="row">
                                <h4>Residential Wireless Internet</h4>
                                <p>
                                    Providers of fixed wireless broadband services typically provide equipment to customers
                                    and install a small antenna or dish somewhere on the roof. This equipment is usually
                                    deployed as a service and maintained by the company providing that service. Fixed wireless
                                    services have become particularly popular in many rural areas where Cable, DSL or other
                                    typical home Internet services are not available.
                                </p>
                                <h4>Business Wireless Internet</h4>
                                <p>
                                    Many companies worldwide have started using wireless alternatives to incumbent and local providers
                                    for internet and voice service. These providers tend to offer competitive services and options
                                    in areas where there is a difficulty getting affordable Ethernet connections.
                                </p>
                                <h4>Demand for spectrum</h4>
                                <p>
                                    To cope with increased demand for wireless broadband, increased spectrum would be needed.
                                    Studies began in 2009, and while some unused spectrum was available, it appeared broadcasters
                                    would have to give up at least some spectrum. This led to strong objections from the broadcasting community.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">Unifi</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">MFi</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">airMax</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck text-center">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">airFiber</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">edgeMax</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="~/Images/brand/Ubiquiti/ubnt_6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title ubnt-color">Accessories</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>